doctype html
html
  head
    title TGS App &middot; Home
    include head.jade
    link(rel="stylesheet", href="tgs.css", async)
  body
    ul.navbar.large.teal.left-align
      li.hide-medium.hide-large.teal.opennav.right
        a(href="javascript:$(null)") ☰
      li
        a(href="#/", onclick="_(0)") TGS App
      li.hide-small
        a(href="#/notices", onclick="_(1)") Notices
      li.hide-small
        a(href="#/news", onclick="_(2)") News
      li.hide-small
        a(href="#/blog", onclick="_(3)") Blog
      li.hide-small
        a(href="#/timetable", onclick="_(4)") Timetable
    #nav.hide.hide-large.hide-medium
      ul.navbar.left-align.large.teal
        li
          a(href="#/notices", onclick="$(1)") Notices
        li
          a(href="#/news", onclick="$(2)") News
        li
          a(href="#/blog", onclick="$(3)") Blog
        li.hide-small
          a(href="#/timetable", onclick="_(4)") Timetable
    .container
      .pages
        #0
          p.
            This is the TGS App. !{'<br>'}
            Version !{version}.
        #1(hidden)
          h2 Daily Notices
          .google
          ul.ul.hoverable !{notices}
        #2(hidden)
          h2 School News
          ul.ul.card-4 !{news}
        #3(hidden)
          h2 Blog
          ul.ul.card-4
            li !{blog}
        #4(hidden)
          h2 Timetable
          form.container.card-4.light-grey(action="./kamar/login", method="POST")
            p Please login with KAMAR
            p
              label Student ID
              input.input.border.round-xxlarge(name="username", type="tel", placeholder="15999")
            p
              label KAMAR Password
              input.input.border.round-xxlarge(name="password", type="password")
            p
              input.btn.blue-grey(type="submit", value="Login") 
  footer.bottom.teal.container
    center
      small
        a(href="http://github.com/tgs-app") About 
        | | 
        a(href="http://github.com/k-yle") Contact 
        | | 
        a(href="http://github.com/tgs-app") View on Github
    script(src="//translate.google.com/translate_a/element.js?cb=g", defer)
    script.
      function g(){new google.translate.TranslateElement({pageLanguage:'en'},'google');};
      function d(id){return document.getElementById(id);};
      function _(n){d(0).hidden=!0;d(1).hidden=!0;d(2).hidden=!0;d(3).hidden=!0;d(4).hidden=!0;d(n).hidden=!1;};
      function $(n){var x = d('nav');x.className.indexOf('show')==-1?x.className+=' show':x.className=x.className.replace(' show', '');n!=null&&_(n);};