extends ./layout.jade

block title
  title TGS App &middot; KAMAR  &middot; Student Details



block content
  h2 Details - <small>!{ID}</small>
  #XML(hidden)!= XML
  input#Key(type="hidden", name="Key", value=Key)
  .details(style="overflow-x:scroll")
    table.table.table-all
      thead: tr
        th Name
        th Value
      tbody#details
  br
  center
    a.btn.green.round#vcf(href="#", download=ID+".vcf") Save to contacts
  script.
    var _ = xmlToJson($('XML')).STUDENTDETAILSRESULTS.STUDENTS.STUDENT;

    var details = {
      "Full Name": _.FIRSTNAME['#text'] + ' <a href="javascript:alert(\'' + _.FORENAMES['#text'] + ' ' + _.LASTNAME['#text'] + '\');">...</a> ' + _.LASTNAME['#text'],
      "Student ID": _.STUDENTID['#text'] + ' <a href="mailto:' + _.STUDENTID['#text'] + '@tgs.school.nz"><small>@tgs.school.nz</small></a>',
      "Gender": _.GENDER['#text'],
      "Ethnicity": _.ETHNICITY['#text'],
      "ID Photo": "<a href='https://portal.takapuna.school.nz/api/img.php?Key=" + $('Key').value + "&Stuid="+_.STUDENTID['#text']+"' target='_blank'>View</a>",
      "Phone": '<a href="tel:' + _.HOMEPHONE['#text'] + '">' + _.HOMEPHONE['#text'] + '</a>',
      "Home Address": '<a href="http://www.bing.com/maps/?q=' + encodeURIComponent(_.HOMEADDRESS['#text'].replace(/\n/g, ', ')) + '" target="_blank"><div id="map">' + _.HOMEADDRESS['#text'] + '</div></a>',
      "Birthday": _.DATEBIRTH['#text'] + ' (' +  _.AGE['#text'] + ')',
      "Emergency Contact": _.EMERGENCYNAME['#text'] + ' (<a href="tel:' + _.EMERGENCYPHONECELL['#text'] + '">' + _.EMERGENCYPHONECELL['#text'] + '</a>)'
    };
    document.write('<script src="./map.js?q=' + _.HOMEADDRESS['#text'].replace(/\n/g, ', ') + '&callback=map"><\/script>');
    var HTML = '';
    for (var item in details) 
      HTML += `<tr><td>${item}</td><td>${details[item]}</td></tr>`;
    $('details').innerHTML = HTML;
    (function () {
      $('vcf').href = 'data:text/vcard;base64,' + btoa('BEGIN:VCARD\nVERSION:4.0'
       +'\nN:'+_.LASTNAME['#text']+';'+_.FORENAMES['#text']+';;;'
       +'\nNICKNAME:'+_.FIRSTNAME['#text']
       +'\nFN:'+_.FORENAMES['#text']
       +'\nORG:Takapuna Grammar School Student #'+_.STUDENTID['#text']
       +'\nGENDER:'+_.GENDER['#text']
       +'\nTITLE:'+_.ETHNICITY['#text']
       +'\nPHOTO;MEDIATYPE=image/jpg:https://portal.takapuna.school.nz/api/img.php?Key='+$('Key').value+'&Stuid='+_.STUDENTID['#text'] //doesnt show, mediatype is probably wrong
       +'\nTEL;TYPE=home,voice;home=uri:'+_.HOMEPHONE['#text']
       +'\nADR;TYPE=home;home="'+_.HOMEADDRESS['#text'].replace(/\n/g, '\\n')+'":;;'+_.HOMEADDRESS['#text'].replace(/\n/g, '\\n')
       +'\nEMAIL:'+_.STUDENTID['#text']+'@tgs.school.nz'
       +'\nREV:'+(new Date()).toISOString()
       +'\nBDAY:'+_.DATEBIRTH['#text'] //doesn't show up, needs to be in the format of `DDMMYYYY`
       +'\nNOTE:Emergency Contact: '+_.EMERGENCYNAME['#text']+' ('+ _.EMERGENCYPHONECELL['#text']+')\nEND:VCARD');
    }());
    function map(coords) {
      var formify = function (data, joiner, seperator) {
        var params = [];
        for (var name in data) 
          params.push(name + (seperator || '=') + encodeURIComponent(data[name]));
        return params.join(joiner || '&');
      };
      $('map').innerHTML = '<iframe width="300" height="200" frameborder="0" src="https://www.bing.com/maps/embed/viewer.aspx?' + formify({
        v: 3,
        cp: coords.lat + '~' + coords.lng,
        lvl: 16,
        w: 300,
        h: 200,
        sty: 'r',
        typ: 's',
        pp: '',
        ps: '',
        dir: 0,
        mkt: 'en-us',
        src: 'SHELL',
        form: 'BMEMJS'
      }) + '">' + _.HOMEADDRESS['#text'] + '</iframe>';
    }