extends ./layout.jade

block title
  title TGS App &middot; KAMAR &middot; Timetable

block content
  h2 Timetable - <small>!{ID}</small>
  form(action='./download.ics', method='post')
    .container.section.pale-blue
      span.closebtn(onclick="this.parentElement.style.display='none'") &times;
      h3 Timetable Notifications!
      p
        | Add your timetable to your calendar on your phone to get notifications when classes start.
        br
        img.round-xxxlarge(src='../../../img/ttad.jpg', width=213, height=83)
    #XML(hidden)!=XML
    .timetable(style="overflow-x:scroll")
      table.table.table-all
        thead: tr
          th
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
        tbody#timetable
    br
    center
      ul.pagination.border.round
        li: a.green#TT0(href="javascript:printTT(0);") This Week 
        li: a#TT1(href="javascript:printTT(1);") Next Week
      br
      br
      each week in [0, 1]
        each day in [1, 2, 3, 4, 5]
          each period in [1, 2, 3, 4, 5, 6, 7]
            input(type='hidden', id=week+';'+day+'|'+period, name=week+';'+day+'|'+period, value=Math.round(Math.random()*123456789))
      input.btn.green.round(type="submit", name='submit', value='Save to Calendar')
  script.
    var _ = [];
    function printTT(week) {
        Date.prototype.getWeek = function() {
            var EPOCH = new Date(this.getFullYear(), 0, 1);
            return Math.ceil((((this - EPOCH) / 86400000) + EPOCH.getDay() + 1) / 7);
        }
        var TT = xmlToJson($('XML')).STUDENTTIMETABLERESULTS.STUDENTS.STUDENT.TIMETABLEDATA;
        var Wx = (new Date()).getWeek()+week;
        
        for (var i = 1; i <= 5; i++) {
            _[i] = TT['W' + Wx]['D' + i]['#text'].split('|');
            _[i].length = 8;
            for (var j = 1; j < 8; j++) {
                var Px = _[i][j].split('-');
                if (Px[2] == undefined) 
                    _[i][j] = {
                        _: '<td> </td>',
                        $: (() => $(week+';'+i+'|'+j).value = [])()
                    };
                else
                    _[i][j] = {
                        _: '<td onclick="alert(\''+Px[3]+', '+(Px[4]||(Px[2]+' Common Area'))+'\')">'+Px[2]+'</td>',
                        $: (() => $(week+';'+i+'|'+j).value = [Px[2], Px[3], (Px[4]||(Px[2]+' Common Area'))])()
                    };
            }
            _[i][0] = '<td>Day '+i+'</td>';
        }
        $('TT0').className = '';
        $('TT1').className = '';
        $('TT'+week).className = 'green';
        $('timetable').innerHTML =
        '     <tr><td><strong>Form</strong></td>'+_[1][1]._+_[2][1]._+_[3][1]._+_[4][1]._+_[5][1]._+
        '</tr><tr><td><strong>P. 1</strong></td>'+_[1][2]._+_[2][2]._+_[3][2]._+_[4][2]._+_[5][2]._+
        '</tr><tr><td><strong>P. 2</strong></td>'+_[1][3]._+_[2][3]._+_[3][3]._+_[4][3]._+_[5][3]._+
        '</tr><tr><td><strong> HM </strong></td>'+_[1][4]._+_[2][4]._+_[3][4]._+_[4][4]._+_[5][4]._+
        '</tr><tr><td><strong>P. 3</strong></td>'+_[1][5]._+_[2][5]._+_[3][5]._+_[4][5]._+_[5][5]._+
        '</tr><tr><td><strong>P. 4</strong></td>'+_[1][6]._+_[2][6]._+_[3][6]._+_[4][6]._+_[5][6]._+
        '</tr><tr><td><strong>P. 5</strong></td>'+_[1][7]._+_[2][7]._+_[3][7]._+_[4][7]._+_[5][7]._+
        '</tr>';
    }
    printTT(1); //needed to fill ics form
    printTT(0);